/* Custom Properities */
:root {
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta: hsl(300, 69%, 71%);
  --heading-font-family: "Poppins", sans-serif;
  --body-font-family: "Open Sans", sans-serif;
}

/* Decent Defaults */
img,
video {
  width: 100%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
}

/* Desktop Only Styles */
@media (min-width: 48em) {
}
